{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

<div class="px-lg-5">
    <h2 class="fw-light mb-5">{{ request.user.email }}</h2>

    <div class="mb-2">
        <button class="fs-4 btn btn-md btn-outline-primary" id="inbox">Inbox</button>
        <button class="fs-4 btn btn-md btn-outline-primary" id="compose">Compose</button>
        <button class="fs-4 btn btn-md btn-outline-primary" id="sent">Sent</button>
        <button class="fs-4 btn btn-md btn-outline-primary" id="archived">Archived</button>
        <a class="fs-4 btn btn-md btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    </div>
    <hr>

    <div id="email"></div>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3 class="mt-2 py-3">New Email</h3>
        <form id="compose-form">
            <div class="input-group fs-4">
                <span class="p-0 input-group-text fs-4 border-0 bg-transparent">From: </span>
                <input disabled class="form-control p-3 fs-4 border-0 bg-transparent" value="{{ request.user.email }}">
            </div>
            <div class="input-group fs-4 mb-4">
                <span class="p-0 me-3 input-group-text fs-4 border-0 bg-transparent">To: </span>
                <input id="compose-recipients" class="form-control p-3 fs-4 rounded bg-transparent">
            </div>
            <div class="input-group mb-4">
                <input class="form-control p-3 fs-4" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control p-3 fs-4 mb-3" id="compose-body" placeholder="Body"
                style="min-height: 200px;"></textarea>
            <div class="d-flex justify-content-end">
                <input type="submit" class="btn btn-primary px-4 py-2 fs-4" value="Send" />
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}